.row{
  margin-bottom: 15px;
}
.row > div{
  border: 5px solid white;
  background-color: wheat;
}
#nav-list{
  margin-top: 10px;
}

h2{
  margin-bottom: 30px;
}
h3{
  text-align: center;
}
#section1{
  padding: 20px;
}
#section2{
  padding: 20px;
}
#section3{
  padding: 20px;
}